:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: grid;
  gap: 10px;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
}

form {
  border: 2px solid lightblue;
  display: grid;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid lightgrey;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

label {
  font-size: 1.0rem;
}

input {
  padding: 5px;
  font-size: 1rem;
  font-family: inherit;
  margin: 3px;
}

select {
  font-family: inherit;
  font-size: 0.8rem;
  padding: 2px;
  margin: 3px;
}

.general {
  border: 2px solid lightblue;
  border-radius: 10px;
  padding: 20px;
}

.demographic {
  font-size: 1.2rem;
}

.name {
  font-weight: bold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
